.container {
  text-align: center;
}

header {
  background-color: #222;
  color: white;
  margin: 1em auto;
  padding: 1em;
  font-size: 2em;
}

.board {
  display: flex;
  width: 100vw;
  height: 100vw;
  max-width: 90vh;
  max-height: 90vh;
  margin: 0 auto;
}

.board-column {
  display: flex;
  flex-direction: column;  
  flex-grow: 1;
}

.board-cell {
  flex-grow: 1;
  display: flex;
}

.cell {
  flex-grow: 1;
}

.cell-id {
  text-align: left;
  font-size: 0.7rem;
}

.button {
  margin-top: 1em;
}

.hidden {
  visibility: hidden;
}

.highlight {
  color: #00ffff;
  background-color: rgba(45, 161, 255, 0.4);
}

.piece {
  color: #2d2d73;
  font-size: 5vmin;
}

.dark {
  background-color: #808080;
}

.light {
  background-color: #d8d8d8;
}

.button {
  background-color: #2d2d73;
  border: none;
  color: white;
  padding: 0.7em 1.2em;
  font-size: 1em;
  margin: 1em;
  cursor: pointer;
}
